body    {
    
    background-color: lightblue;
}
h2 {
    margin: auto;
    width: 25%; /* you can adjust border size*/
    
    padding: 10px; 
    font-size: 45px;
    border-bottom: thin solid black;
    border-bottom-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
}
p {
    font-size: 25px;
}


h1 {
    text-align: center;
    font-size: 50px;
    border-bottom: thin solid black;
    border-bottom-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
    margin: auto;
    width: 40%;  /* you can adjust border size*/
    
    padding: 10px; /*lenght of the text */
}
div {
    border: medium solid black;
}
.main {
    
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    
        text-decoration: none;
        color: initial;
        font-size: 35px;
}
p1 {
    text-align: center;
    font-size: 30px;
    border: thin solid black;
}
