body    {
    
    background-color: lightblue;
}
h2 {
    margin: auto;
    width: 50%;
    
    padding: 10px;
    font-size: 45px;
}
p {
    font-size: 25px;
}
h3 {
    margin: auto;
    width: 50%;
    
    padding: 10px;
    font-size: 35px;
}
h1 {
    text-align: center;
}
div {
    border: medium solid black;
}
.main {
    
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
    
        text-decoration: none;
        color: initial;
}
p1 {
    text-align: center;
    font-size: 25px;
    border: thin solid black;
}
