/*  width can be used to adjust border size*/
/* padding can be used to make gap betwwen text and border */
/* margin can be used to get text in center*/
body    {
    
    background-color: lightblue;
    border: 10cm;
}
h1 {
    border-bottom: thin solid black;
    border-bottom-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
    width: 23%;
}

div {
    border: thick solid black;
}
li {
    font-size: 30px;
}
p {
    color: a;
}
p {
    font-size: 35px;
}
h1{
    font-size: 55px;
    text-align: center;
}
h1 {
    color: rgb(0, 0, 0);
}
p {
    color: rgb(0, 0, 0);
}
a {
    font-size: 35px;
}
.li {
    font-size: 40px;
    border-bottom: thick double black;
    width: 20%;
}
.ty {
    font-size: 45px;
    border-bottom: dashed black;
    width: 26%;
    margin: auto;
    padding: 10px;
    border-top: dashed black;
}
.time {
    font-size: 25px;
}


p4 {
    font-size: 40px;
}

button {
    font-size: large;
}
text {
    font-size: 30px;
}
button {
    font-size: larger;
}
p {

    font-size: 40px;
}


a.butto {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

h1 {
    margin: auto;
    
    
    padding: 10px;
}
rb {
    font-size: larger;
   
}
.demo{
    font-size: 25px;
}
Link1 {
    font-size: 30px;
}